/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/bootstrap/scss/bootstrap';

@import './variables';
@import './mixins';

body {
	font-family: 'Lato', sans-serif;
}

.s-30-30 {
	width: 30px;
	height: 30px;
}
.font-size-sm {
	font-size: 0.8em;
}

.header-image {
	padding: 40px 80px;
	max-width: 700px;
}
.github-link {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.5s linear;
	border-radius: 50%;
	> svg {
		fill: #02303a;
		fill-rule: evenodd;
		transition: fill 0.5s linear;
	}
	&:hover {
		background-color: #02303a;
		> svg {
			fill: #fff;
		}
	}
}
