<section class="container d-md-flex justify-content-center">
	<div class="w-100 mx-1">
		<h2 class="my-3">Токен авах</h2>
		<mat-form-field class="w-100">
			<input matInput placeholder="Нэр" #fname>
		</mat-form-field>
		<mat-form-field class="w-100">
			<input matInput placeholder="Овог" #lname>
		</mat-form-field>
		<mat-form-field class="w-100">
			<input matInput placeholder="Утас" #phone>
		</mat-form-field>
		<mat-form-field class="w-100">
			<input matInput placeholder="Цахим хаяг" #email>
		</mat-form-field>
		<mat-form-field class="w-100">
			<input matInput placeholder="Хэрэглэгчийн нэр" #username>
		</mat-form-field>
		<mat-form-field class="w-100">
			<input matInput placeholder="Нууц үг" #password>
		</mat-form-field>
		<mat-form-field class="w-100">
			<textarea matInput matTextareaAutosize maxRows="6" placeholder="Таны хийдэг ажлын тухай" #aboutProject></textarea>
		</mat-form-field>
		<button mat-raised-button type="button" class="m-1" (click)="getToken(fname, lname, phone, email, username, password, aboutProject)">Токен авах</button>
		<div class="alert alert-success" *ngIf="mToken == ''">
			{{mToken}}
		</div>
	</div>
	<br>
	<div class="w-100 mx-1">
		<h2 class="my-3">Яриа болгох</h2>
		<mat-form-field class="w-100">
			<input matInput placeholder="Токен" #token>
		</mat-form-field>
		<mat-form-field class="w-100">
			<textarea matInput matTextareaAutosize maxRows="6" placeholder="Уншигдах текст" #text></textarea>
		</mat-form-field>
		<button mat-raised-button class="m-1" type="button" (click)="sendToTTS(token.value, text.value)">Хөрвүүл</button>
		<div class="alert alert-success" *ngIf="message == ''">
			{{message}}
		</div>
	</div>
	<br>
	<div class="w-100 mx-1">
		<h2 class="my-3">Текст болгох</h2>
		<div class="d-flex align-items-center text-center">
			<button mat-fab color="warn" class="m-1"><mat-icon>mic</mat-icon></button>
			<button mat-fab color="warn" class="m-1"><mat-icon>stop</mat-icon></button>
		</div>
		<div class="d-flex align-items-center justify-content-md-start justify-content-center">
			<button mat-raised-button type="button" class="m-1" (click)="sendToSTT()">Илгээх</button>
		</div>
		<div id="stt_response"></div>
	</div>
</section>